Job: Hplus_cb_mjj_stat_only
  Label: "H^{+} #rightarrow cb"
  CmeLabel: 13.6 TeV
  LumiLabel: 26.3 fb^{-1}
  POI: mu
  ReadFrom: HIST
  HistoPath: wsi/
  HistoNameNominal: nominal
  DebugLevel: 1
  SystControlPlots: FALSE
  UseGammaPulls: TRUE
  BlindingThreshold: 0.1
  RankingMaxNP: 20
  RankingPOIName: "#mu"
  HistoChecks: NOCRASH
  SystPruningNorm: 0.01
  SystPruningShape: 0.01
  CorrelationThreshold: 0.2
  StatOnly: TRUE

% --------------- %
% ---  Fit    --- %
% --------------- %

Fit: mu
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: FALSE
  POIAsimov: 1
  UseMinos: mu
  doLHscan: mu
  LHscanMin: 0
  LHscanMax: 5
  LHscanSteps: 120
  NumCPU: 8


% ----------------------------- %
% --- Normalisation Factors --- %
% ----------------------------- %

NormFactor: mu
  Title: "#it{#mu}"
  Nominal: 1
  Min: 0
  Max: 5
  Samples: Hplus_cb


% ----------------- %
% ---  Regions  --- %
% ----------------- %

Region: "SR"
  Type: SIGNAL
  VariableTitle: "m_{jj} [GeV]"
  HistoName: SR_
  HistoFile: trexfitter
  Label: "Signal Region"
  ShortLabel: "SR"


% ----------------- %
% ---  Samples  --- %
% ----------------- %

Sample: "data"
  Type: DATA
  Title: "Data"
  HistoNameSuff: "data/"

Sample: "Hplus_cb"
  Type: SIGNAL
  Title: "H^{+} #rightarrow cb"
  FillColor: 632
  LineColor: 1
  HistoNameSuff: "Hplus_cb/"
  UseMCstat: TRUE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 800
  LineColor: 1
  HistoNameSuff: "ttbar_nom/"
  UseMCstat: TRUE

Sample: "Wt"
  Type: BACKGROUND
  Title: "Wt"
  FillColor: 807
  LineColor: 1
  HistoNameSuff: "Wt/"
  UseMCstat: TRUE

Sample: "st_tchan"
  Type: BACKGROUND
  Title: "Single top t-chan"
  FillColor: 831
  LineColor: 1
  HistoNameSuff: "st_tchan/"
  UseMCstat: TRUE

Sample: "st_schan"
  Type: BACKGROUND
  Title: "Single top s-chan"
  FillColor: 833
  LineColor: 1
  HistoNameSuff: "st_schan/"
  UseMCstat: TRUE

Sample: "wjets"
  Type: BACKGROUND
  Title: "W+jets"
  FillColor: 417
  LineColor: 1
  HistoNameSuff: "wjets/"
  UseMCstat: TRUE

Sample: "zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  FillColor: 861
  LineColor: 1
  HistoNameSuff: "zjets/"
  UseMCstat: TRUE

Sample: "diboson"
  Type: BACKGROUND
  Title: "Diboson"
  FillColor: 616
  LineColor: 1
  HistoNameSuff: "diboson/"
  UseMCstat: TRUE

Sample: "ttV"
  Type: BACKGROUND
  Title: "t#bar{t}V"
  FillColor: 880
  LineColor: 1
  HistoNameSuff: "ttV/"
  UseMCstat: TRUE

Sample: "rare_top"
  Type: BACKGROUND
  Title: "Rare top"
  FillColor: 920
  LineColor: 1
  HistoNameSuff: "rare_top/"
  UseMCstat: TRUE


